{% extends 'web/base.html' %}
{% load static %}

{% block nombrePag %}
<title>tus pedidos</title>
{% endblock %}



{% block contenido %}

  <a class="button-volver contenedor_boton_volver" href="{% url 'perfil' %}">
  ⬅ Volver
  </a>



<div class="contenedor_botones">
<div class="segmented-control">
  <button class="segment active" id="btn-crear">Pedidos Pendientes</button>
  <button class="segment" id="btn-tabla">Pedidos listos</button>
</div>

</div>


<div id="modal-pendientes" class="fondo-modal-trabajadores animacion-entrada visible">
  <div class="modal_productos">
    <div class="contenedor_informacion">
      <table id="tabla-historial-pedidos" class="tabla-transferencias">
        <tbody></tbody>
      </table>
    </div>
  </div>
</div>

<div id="modal-historial" class="fondo-modal-trabajadores oculto">
  <div class="modal_productos">
    <div class="contenedor_informacion">
        <table id="tabla-pedidos-listos" class="tabla-transferencias">
        <tbody></tbody>
      </table>
    </div>
  </div>
</div>








{% endblock %}
