/* ======================== ANIMACIONES ======================== */


/* -------------------------------------------------------------
   Animación: hero-gradient-animation
   Descripción: 
   Anima una serie de variables CSS personalizadas que probablemente 
   controlan un fondo con gradientes dinámicos.
   Utiliza colores HSLA y posiciones relativas para crear movimiento.
------------------------------------------------------------- */
@keyframes hero-gradient-animation {
    0% {
      --x-0: 85%;
      --c-0: hsla(180, 80%, 58%, 1);
      --s-start-0: 9%;
      --s-end-0: 55%;
      --y-0: 80%;
  
      --s-start-1: 5%;
      --s-end-1: 72%;
      --x-1: 60%;
      --c-1: hsla(201.18, 84%, 67%, 1);
      --y-1: 24%;
  
      --c-2: hsla(186.62, 88%, 46%, 1);
      --s-start-2: 5%;
      --s-end-2: 52%;
      --x-2: 13%;
      --y-2: 82%;
  
      --c-3: hsla(194.56, 89%, 45%, 1);
      --s-start-3: 13%;
      --s-end-3: 68%;
      --y-3: 7%;
      --x-3: 24%;
    }
  
    100% {
      --x-0: 31%;
      --c-0: hsla(190.59, 74%, 54%, 1);
      --s-start-0: 9%;
      --s-end-0: 55%;
      --y-0: 94%;
  
      --s-start-1: 5%;
      --s-end-1: 72%;
      --x-1: 2%;
      --c-1: hsla(187.94, 92%, 77%, 1);
      --y-1: 25%;
  
      --c-2: hsla(197.21, 78%, 56%, 1);
      --s-start-2: 5%;
      --s-end-2: 52%;
      --x-2: 98%;
      --y-2: 20%;
  
      --c-3: hsla(182, 60%, 62%, 1);
      --s-start-3: 13%;
      --s-end-3: 68%;
      --y-3: 92%;
      --x-3: 95%;
    }
  }
  
  
  /* -------------------------------------------------------------
     Declaración de propiedades CSS personalizadas (CSS Houdini)
     Necesarias para que las variables animadas con @keyframes funcionen
  ------------------------------------------------------------- */
  @property --x-0 { syntax: '<percentage>'; inherits: false; initial-value: 85%; }
  @property --c-0 { syntax: '<color>'; inherits: false; initial-value: hsla(180, 80%, 58%, 1); }
  @property --s-start-0 { syntax: '<percentage>'; inherits: false; initial-value: 9%; }
  @property --s-end-0 { syntax: '<percentage>'; inherits: false; initial-value: 55%; }
  @property --y-0 { syntax: '<percentage>'; inherits: false; initial-value: 80%; }
  
  @property --s-start-1 { syntax: '<percentage>'; inherits: false; initial-value: 5%; }
  @property --s-end-1 { syntax: '<percentage>'; inherits: false; initial-value: 72%; }
  @property --x-1 { syntax: '<percentage>'; inherits: false; initial-value: 60%; }
  @property --c-1 { syntax: '<color>'; inherits: false; initial-value: hsla(201.18, 84%, 67%, 1); }
  @property --y-1 { syntax: '<percentage>'; inherits: false; initial-value: 24%; }
  
  @property --c-2 { syntax: '<color>'; inherits: false; initial-value: hsla(186.62, 88%, 46%, 1); }
  @property --s-start-2 { syntax: '<percentage>'; inherits: false; initial-value: 5%; }
  @property --s-end-2 { syntax: '<percentage>'; inherits: false; initial-value: 52%; }
  @property --x-2 { syntax: '<percentage>'; inherits: false; initial-value: 13%; }
  @property --y-2 { syntax: '<percentage>'; inherits: false; initial-value: 82%; }
  
  @property --c-3 { syntax: '<color>'; inherits: false; initial-value: hsla(194.56, 89%, 45%, 1); }
  @property --s-start-3 { syntax: '<percentage>'; inherits: false; initial-value: 13%; }
  @property --s-end-3 { syntax: '<percentage>'; inherits: false; initial-value: 68%; }
  @property --y-3 { syntax: '<percentage>'; inherits: false; initial-value: 7%; }
  @property --x-3 { syntax: '<percentage>'; inherits: false; initial-value: 24%; }


/* -------------------------------------------------------------
   Animación: slideUpFade
   Descripción: 
   Hace que un elemento aparezca desde abajo hacia su lugar 
   original con una transición suave de opacidad.
------------------------------------------------------------- */
@keyframes slideUpFade {
  0% {
    opacity: 0;                  /* Totalmente invisible */
    transform: translateY(90px); /* Desplazado hacia abajo */
  }
  100% {
    opacity: 1;                  /* Completamente visible */
    transform: translateY(0);    /* En su posición original */
  }
}


/* ================================================
   Animación: popBeforeFadeOut
   Descripción: 
   Hace que un elemento primero se agrande levemente, 
   luego se achique y desaparezca gradualmente.
   ================================================ */
   @keyframes popBeforeFadeOut {
    0% {
      transform: scale(1);
      opacity: 1; /* completamente visible */
    }
    70% {
      transform: scale(1.02); /* pequeño aumento para generar un "pop" */
      opacity: 1; /* sigue visible */
    }
    100% {
      transform: scale(0.9); /* se achica */
      opacity: 0; /* desaparece */
    }
  }

  /* ================================================
   Animación: popBeforeFadeOut
   Descripción: 
   Hace que el elemento deje de ocupar espacio en en la página
   y no sea interactivo.
   ================================================ */
  
  @keyframes ocultarElemento {
    to {
      opacity: 0;
      height: 0;
      padding: 0;
      overflow: hidden;
      pointer-events: none;
    }
  }
/* ======================== body ======================== */

html, body {
  overflow-y: scroll;
  scrollbar-width: none;           /* Firefox */
  -ms-overflow-style: none;        /* IE y Edge antiguos */
  scroll-behavior: smooth;
}

/* Ocultar scrollbar en WebKit (Chrome, Safari, Edge) */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

body {
  
    font-family: 'Poppins';
    animation: hero-gradient-animation 10s linear infinite alternate-reverse;
    background-color: #0a4a82; /* azul profundo */

  
    /* Variables iniciales */
    --x-0: 85%;
    --y-0: 80%;
    --x-1: 60%;
    --y-1: 24%;
    --x-2: 13%;
    --y-2: 82%;
    --x-3: 24%;
    --y-3: 7%;
  
    --c-0: hsla(180, 80%, 58%, 1);
    --c-1: hsla(201, 84%, 67%, 1);
    --c-2: hsla(186, 88%, 46%, 1);
    --c-3: hsla(194, 89%, 45%, 1);
  
    --s-start-0: 9%;
    --s-end-0: 55%;
    --s-start-1: 5%;
    --s-end-1: 72%;
    --s-start-2: 5%;
    --s-end-2: 52%;
    --s-start-3: 13%;
    --s-end-3: 68%;
  
    background-image:
      radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0), transparent var(--s-end-0)),
      radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1), transparent var(--s-end-1)),
      radial-gradient(circle at var(--x-2) var(--y-2), var(--c-2) var(--s-start-2), transparent var(--s-end-2)),
      radial-gradient(circle at var(--x-3) var(--y-3), var(--c-3) var(--s-start-3), transparent var(--s-end-3));
  
    background-blend-mode: normal, normal, normal, normal;
    background-repeat: no-repeat;
    background-size: cover;
  
    min-height: 100vh;
    margin: 0;
}

/* ======================== Bienvenida ======================== */
.bienvenida {
  display: flex;
  flex-direction: column; /* Organiza los elementos verticalmente */
  justify-content: center;
  align-items: center;
  padding: 100px 5px 0px 5px; /* arriba derecha abajo izquierda */
  text-align: center; /* Centra el texto si se corta */
  animation: ocultarElemento 0.5s ease 3.5s forwards;
}


.titulo-marca h1,
.descripcion-marca p {
  margin: 0; /* Elimina el margen por defecto */
  color: white;
}



.titulo-marca{
  font-size: clamp(30px, 9vw, 130px);
  opacity: 0; /* Inicialmente invisible */
  animation:
    slideUpFade 1.5s cubic-bezier(0.23, 1, 0.32, 1) 0.3s forwards,
    popBeforeFadeOut 1.4s ease 2s forwards;
}


.descripcion-marca{
  font-size: clamp(1em, 9vw, 4.5em);
  opacity: 0; /* Inicialmente invisible */
  animation:
    slideUpFade 1.5s cubic-bezier(0.23, 1, 0.32, 1) 0.9s forwards,
    popBeforeFadeOut 1.4s ease 2.2s forwards;
}

/* ======================== base ======================== */










/* ======================== reutilizables ======================== */


/* Contenedor principal */
.contenedor-informacion {
  display: flex;
  flex-direction: row; /* Horizontal por defecto */
  width: 100%;
  justify-content: center;
  align-items: stretch;
  box-sizing: border-box;
  z-index: 1;
}

/* Cada bloque ocupa mitad del contenedor */
.bloque-info {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Contenido centrado dentro de cada columna */
.columna-info {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;
}



/* ======================== Ajusta estilos para pantallas menores a 800px  ======================== */
@media (max-width: 800px) {
  .contenedor-informacion {
    flex-direction: column;
  }
}
