{% extends 'web/base.html' %}
{% load static %}

<!-- Título dinámico de la pestaña -->
{% block nombrePag %}
<title>FerreMas</title>
{% endblock %}

{% block contenido %}

<!-- Contenedor principal de bienvenida con animación -->
<div class="bienvenida">
    <div class="titulo-marca">
        <h1>FerreMas</h1>
    </div>
    <div class="descripcion-marca">
        <p>Todo lo que necesitas para tu hogar</p>
    </div>
</div>

<div class="contenedor-informacion">
    <div class="bloque-info">
      <div class="columna-info">
        <div class="titulo-marca-secundario">
          <h1>FerraMas</h1>
        </div>
        <div class="descripcion-marca-secundario">
          <p>Tecnología y eficiencia en cada detalle</p>
        </div>
      </div>
    </div>
  
    <div class="bloque-info">
      <div class="columna-info">
        <div class="iconos">
          <p>hola soy un icono</p>
        </div>
      </div>
    </div>
  </div>
  

<!-- Contenedor segundario de bienvenida -->

  

{% endblock %}
