{% extends 'web/base.html' %}
{% load static %}

{% block nombrePag %}
<title>Perfil</title>
{% endblock %}

{% block contenido %}



<!-- Perfil de usuario -->
<div class="container_center">
  <div class="tarjeta-de-presentacion">
    <div class="foto-perfil">
      <img id="foto-usuario" src="" alt="Foto de perfil" />
    </div>

    <div class="parte-inferior">
      <div class="contenido">
        <span id="nombre-usuario" class="nombre">Cargando...</span>
        <span id="correo-usuario" class="descripcion">Cargando...</span>
        <div class="info-extra">
          <span id="rol-usuario" class="descripcion" style="font-weight:bold; color: #fff;">Tipo: ...</span>
        </div>
      </div>
    </div>
  </div>

  <!-- Botones -->
  <div style="margin-top: 30px;">
    <button id="boton-logout" class="button-submit" style="width: 300px;">Cerrar sesión</button>
    <a href="{% url 'registro_personal' %}">
      <button class="button-submit" style="width: 300px;">Registro de personal</button>
    </a>
    <a href="{% url 'bodega' %}">
      <button class="button-submit" style="width: 300px;">productos disponibles en bodega.</button>
    </a>
  </div>
</div>


<button id="agregarProductoBtn">Agregar producto de prueba</button>


{% endblock %}
