{% extends 'web/base.html' %}
{% load static %}

{% block nombrePag %}
<title>Perfil</title>
{% endblock %}

{% block contenido %}



<div class="contenedor_informacion" >

  <div class="bloque_info">
    <div class="columna_info">
      
      <a href="{% url 'registro_personal' %}">
        <button class="button-submit " style="width: 300px;">Registro de personal</button>
      </a>
      <HR></HR>
      <a href="{% url 'crear_producto' %}">
        <button class="button-submit " style="width: 300px;">crear un nuevo producto.</button>
      </a>

      <HR></HR>

      <a href="{% url 'pedidos_realizados' %}">
        <button class="button-submit " style="width: 300px;">pedidos</button>
      </a>
      <a href="{% url 'trasferencias' %}">
        <button class="button-submit " style="width: 300px;">transferencias</button>

      <a href="{% url 'armado_pedidos' %}">
        <button class="button-submit " style="width: 300px;">armado de pedidos</button>
      </a>
      <HR></HR>
      <a href="{% url 'datos_personales' %}">
        <button class="button-submit " style="width: 300px;">direcciones</button>
      </a>
      </a>
        <a href="{% url 'historial_pedidos' %}">
        <button class="button-submit " style="width: 300px;">historial_pedidos</button>
      </a>
      <button id="boton-logout" class="btn-vaciar-carrito" style="width: 300px;">Cerrar sesión</button>
    </div>
<table id="tabla-todos-datos-usuario" border="1">
  <thead>
    <tr>
      <th>Campo</th>
      <th>Valor</th>
    </tr>
  </thead>
  <tbody>
    <!-- Aquí se llenarán los datos dinámicamente -->
  </tbody>
</table>
  </div>

</div>







{% endblock %}
