{% extends 'web/base.html' %}
{% load static %}

{% block nombrePag %}
<title>trabajadores</title>
{% endblock %}

{% block contenido %}


<div style="margin-top: 200px;">
  <table id="tabla-trabajadores" border="1">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Correo</th>
        <th>RUT</th>
        <th>Rol</th>
        <th>Fecha creación</th>
        <th>Contraseña de inicio</th>
        <th>Cambiar contraseña</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>


{% endblock %}
