{% extends 'web/base.html' %}
{% load static %}

{% block nombrePag %}
<title>Transferencias</title>
{% endblock %}

{% block contenido %}

<table id="tabla-transferencias">
  <thead>
    <tr>
      <th>RUT Cliente</th>
      <th>Nombre Cliente</th>
      <th>Correo Cliente</th>
      <th>RUT Titular</th>
      <th>Nombre Titular</th>
      <th>Banco</th>
      <th>Tipo Entrega</th>
      <th>Dirección / Sucursal</th>
      <th>Productos</th>
      <th>Total</th>
      <th>Estado actual</th>
      <th>Cambiar estado</th>
      <th>Fecha</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>

<button id="btn-confirmar-cambios" style="margin-top: 20px;">✅ Confirmar cambios</button>


{% endblock %}
